<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-subheader">
        <h1 class="title">By Category</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
              <ion-item collection-repeat="category in category.categories" href="#/app/category/{{category.id}}">
                <h2>{{category.display_name}}</h2>
              </ion-item>
            </ion-list>
            <div ng-if="category.categories !== undefined && !category.categories.length" class="no-results">
              <div class="card">
                <div class="item item-text-wrap">
                  No Results
                </div>
              </div>
            </div>
    </ion-content>
</ion-view>
