<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-subheader">
        <h1 class="title">{{ manufacturer.manufacturer.display_name }}</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
              <ion-item collection-repeat="product in manufacturer.products" href="#/app/product/{{product.id}}" class="item-thumbnail-left">
                  <img ng-src="{{ manufacturer.imagePath + product.image}}">
                <h2>{{ product.manufacturer.display_name }} {{product.display_name}}</h2>
                <p>
                    {{ product.items.length }} Available
                </p>
              </ion-item>
            </ion-list>
            <div ng-if="manufacturer.products !== undefined && !manufacturer.products.length" class="no-results">
              <div class="card">
                <div class="item item-text-wrap">
                  No Results
                </div>
              </div>
            </div>
    </ion-content>
</ion-view>
