<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-subheader">
        <h1 class="title">By Manufacturer</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
              <ion-item collection-repeat="manufacturer in manufacturer.manufacturers" href="#/app/manufacturer/{{manufacturer.id}}">
                <h2>{{manufacturer.display_name}}</h2>
              </ion-item>
            </ion-list>
            <div ng-if="manufacturer.manufacturers !== undefined && !manufacturer.manufacturers.length" class="no-results">
              <div class="card">
                <div class="item item-text-wrap">
                  No Results
                </div>
              </div>
            </div>
    </ion-content>
</ion-view>
