<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-title side="center">
          <h1 class="title">Inventory</h1>
      </ion-nav-title>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content ng-controller="AuthController as auth">
      <ion-list ng-if="!auth.isAuthenticated()">
          <ion-item menu-close href="#/app/login">
            Login
          </ion-item>
          <ion-item menu-close href="#/app/register">
            Register
          </ion-item>
      </ion-list>
      <ion-list ng-if="auth.isAuthenticated()">
          <ion-item menu-close href="#/app/welcome">
            Home
          </ion-item>
        <ion-item menu-close href="#/app/categories">
          By Category
        </ion-item>
        <ion-item menu-close href="#/app/manufacturers">
          By Manufacturer
        </ion-item>
        <ion-item menu-close href="#/app/products">
          All Products
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
