<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-subheader">
        <h1 class="title">All Products</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
          <ion-item collection-repeat="product in product.products" href="#/app/product/{{product.id}}" class="item-thumbnail-left">
            <img ng-src="http://ittc-dev.astate.edu/abhishek/inventory-backend/public/images/{{ product.image }}">
            <h2>{{ product.manufacturer.display_name }} {{product.display_name}}</h2>
            <p>{{ product.category.display_name }}<br>{{ product.items.length }} Available</p>
          </ion-item>
        </ion-list>
        <div ng-if="product.products !== undefined && !product.products.length" class="no-results">
          <div class="card">
            <div class="item item-text-wrap">
              No Results
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
