<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-subheader">
        <h1 class="title">Product</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list card">

        <div class="item">
          <h2>{{ product.manufacturer.display_name }} {{ product.product.display_name }}</h2>
          <p>{{ product.items.length }} Available</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="{{ product.imagePath }}{{ product.product.image }}">
          <p>
            {{ product.product.description }}
          </p>
        </div>

        <button class="item item-icon-left assertive" ng-if="!product.reserveDisabled" href="#" ng-click="product.reserve(product.product.id)">
          <i class="icon ion-compose"></i>
          Reserve
        </button>

      </div>
    </ion-content>
</ion-view>
