<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-subheader">
        <h1 class="title">Register</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="auth.register()">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="First Name" ng-model="auth.first_name">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="auth.last_name">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="auth.email">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="auth.password">
            </label>
            <label class="item">
              <button class="button button-block button-positive" type="submit">Register</button>
            </label>
          </div>
        </form>
    </ion-content>
</ion-view>
