<ion-view>
    <ion-header-bar align-title="center" class="bar-stable bar-subheader">
        <h1 class="title">Home</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list card">
        <div class="item item-divider">
          My Reservations
        </div>
        <a  ng-repeat="reservation in welcome.reservations" href="#/app/reservation/{{reservation.id}}" class="item item-thumbnail-left">
          <img ng-src="http://ittc-dev.astate.edu/abhishek/inventory-backend/public/images/{{ reservation.item.product.image }}">
          <h2>{{ reservation.item.product.manufacturer.display_name }} {{ reservation.item.product.display_name }}</h2>
          <p>{{ reservation.created_at }}</p>
        </a>

      </div>
    </ion-content>
</ion-view>
